/* this is my form css */
form{
    text-align: center;
    background-color: #CCCCCC;
    
}
legend{
    font-size: 1.2em;
}
fieldset{
    margin: .5em;
    padding: .5em;
    border: solid 1px #FFFFFF;
}
.noborder{
    border: none;
}
.floatlabelleft label{
    float: left;
    margin-right: .2em;
    margin-left: 27%;
    
}
.floatlabelleft input{
    clear: both;
    display: block;
    margin-bottom: .5em;
    margin-left: 27%;
}
input[type=text],[type=email]{
    border: #AAAAAA solid 1px;
    background-color: #EEEEEE;
    padding: .2em;
}
input[type=submit],[type=reset],[type=button]{
    padding:.3em;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #888888;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
    margin-bottom: .5em;
}