/* small nav */
nav{
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color:#000000;
    
}
nav li{
    display: inline;
    padding:2px 10px 2px 10px;
}

nav li a{
    text-decoration: none;
    font-weight: bold;
    font-size:1.2em;
    color:#FFFFFF;
    text-transform: uppercase;
}

nav li:hover{
    background-color:#333333;
    font-size:1.3em;
    
}
