/* another small nav... icon and hidden expandable li */

nav{
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color:#000000;
    background-repeat: no-repeat;
    position: scroll;
    margin-bottom: auto;
}
nav div{
    text-align: left;
    margin-left: .5em;
}
nav div img{
    width:3em;
    height:3em;
}
nav ul{
    list-style-type: none; /* make sure no bullets appear*/
}
nav li{
    display: none;
    padding:2px 10px 2px 10px;
}

nav li a{
    text-decoration: none;
    font-weight: bold;
    font-size:1.2em;
    color:#FFFFFF;
    text-transform: uppercase;
}
/*
nav li:hover{
    background-color:#333333;
    font-size:1.3em;
    
}
nav:hover li{
    display: block;
    text-align: left;
}*/
.showleft{
    
}
.showleft li{
    display: block;
    text-align: left;
}

.showleft #navimg{
    
}
.hide ul{
     display: none;
}
.hide #navimg{
    
    background-image: url("../images/home.png");
}
.showleft #navimg{background-image: url("../images/close.png");
    background-size: 100%;
}
#navimg{
    width: 2em;
    height: 2em;
    background-color:#333333;
    background-image: url("../images/home.png");
    background-size: 100%;
    
}