/* general css */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#999999;
    color: #FFFFFF;
}
header{
    padding-top:.5em;
    padding-bottom:.5em;
    background-color:#FF32BB;
    background-image:url("../images/banner.jpeg");
    background-size:100%;
    /*height:70px;*/
}
header h1{
    color: #FFFFFF;
    text-shadow: 2px 2px 1px #333333;
    text-align: center;
    font-size: 2.5em;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}
h2,h3{
    padding-top: 1em;
    padding-bottom: 1em;
}
/* nav style*/
nav{
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color:#000000;
    
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline;
    padding:2px 10px 2px 10px;
}

nav li a{
    text-decoration: none;
    font-weight: bold;
    font-size:1.2em;
    color:#FFFFFF;
    text-transform: uppercase;
}

nav li:hover{/*only works with mouse*/
    background-color:#333333;
    font-size:1.3em;
    
}
main{
     /*background-color: red;*/
}
aside{
   /* background-color:green;*/
}
aside table{
    border:solid 1px #FFFFFF;
    border-collapse: collapse;
    margin:2em auto 2em auto;
    padding: .3em;
}
aside table th,td{
    border:solid 1px #FFFFFF;
    padding: .5em;
}
aside table caption{
    padding: .5em;
    font-weight: bold;
    font-size:1.2em;
}
th,td{
    text-align: center;
}
footer{
   /* background-color: blue;*/
    text-align: center;
    padding:2em 0 2em 0;
    clear: both;
   /* border-top:solid 1px #FFFFFF;*/
}
p{
    padding: .5em .2em .5em .2em; 
}
/* this is my form css */
form{
    text-align: center;
    background-color: #CCCCCC;
    
}
legend{
    font-size: 1.2em;
}
fieldset{
    margin: .5em;
    padding: .5em;
    border: solid 1px #FFFFFF;
}
.noborder{
    border: none;
}
.floatlabelleft label{
    float: left;
    margin-right: .2em;
    margin-left: 27%;
    
}
.floatlabelleft input{
    clear: both;
    display: block;
    margin-bottom: .5em;
    margin-left: 27%;
}
input[type=text],[type=email]{
    border: #AAAAAA solid 1px;
    background-color: #EEEEEE;
    padding: .2em;
}
input[type=submit],[type=reset],[type=button]{/*style for buttons */
    padding:.3em;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #888888;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
    margin-bottom: .5em;
}
#container{
    /*background-image:url(../images/denim_background.jpg);*/
    background-color:#DADADC;
    width:90%;
    padding-left:2em;
    padding-right:2em;
}
#hours{
    padding-bottom: 3em;
}
#catalog{
    text-align: center;
   /* border-top:solid #FFFFFF 2px;*/
}
#catalog figure{
    display:inline-block;
    margin:auto;
}
#catalog figure img{
    width:150px;
    height:150px;
    border-radius: 10px;
    text-align: center;
}
#catalog figcaption{
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 10px;
}

#specials p{
    border:solid red 2px;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
   /* background-color: #FFFFFF;*/
    color: red;
    text-align: center;
    margin:5px auto 5px auto;
}
#wrapper{
    margin-top:20px;
    margin-bottom:20px;
}
/* media query for screens larger than 700px
2 column layout */
 @media screen and (min-width:700px){
    header{
        padding-top:1.3em;
        padding-bottom: 1.3em;
    }
    main{
        float:left;
        width:70%;
    }
    aside{
        margin-left:71%;
    }
}